<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    {%extends "auth/base_form.html"%}
    {%block content%}
                            <nav class="navbar navbar-dark bg-dark px-3">
                    <div class="d-flex align-items-center justify-content-between w-100 text-white">
                            <span style="text-align: right;">
                                <a href="{{url_for('admin_dashboard')}}" style="text-decoration: none; color: white;">Welcome Admin !!</a>
                            </span>
                            <span style="text-align: left;">
                                <a href="{{url_for('admin_comp')}}" class="btn btn-outline-light btn-sm">Companies</a>
                                <a href="{{url_for('admin_students')}}" class="btn btn-outline-light btn-sm">Students</a>
                                <a href="{{url_for('admin_drives')}}" class="btn btn-outline-light btn-sm">Drives</a>
                                <a href="{{url_for('admin_dashboard')}}" class="btn btn-outline-light btn-sm">Home</a>
                                <a href="{{url_for('logout')}}" class="btn btn-danger btn-sm">Logout</a>
                            </span>
                    </div>
                </nav>
    <div>
        <table class="table table-bordered w-100">
        <h4>Student Applications</h4>
        <tr><th>Student Name</th><th>Company Name</th><th>Job Title</th><th>Status</th></tr>
        {%for app in applications%}
        <tr>
            <td>{{app.student.first_name}} {{app.student.last_name}}</td>
            <td>{{app.drive.company.company_name}}</td>
            <td>{{app.drive.job_title}}</td>
            {%if app.status=='applied'%}
            <td><p class="badge bg-primary">Applied</p></td>
            {%elif app.status=='shortlisted'%}
            <td><p class="badge bg-info">Shortlisted</p></td>
            {%elif app.status=='rejected'%}
            <td><p class="badge bg-danger">Rejected</p></td>
            {%elif app.status=='selected'%}
            <td><p class="badge bg-success">Selected</p></td>
            {%endif%}
        </tr>
        {%endfor%}
        </table>

    {%endblock%}
</body>
</html>