<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    {%extends "auth/base_form.html"%}
    {%block content%}
                            <nav class="navbar navbar-dark bg-dark px-3">
                    <div class="d-flex align-items-center justify-content-between w-100 text-white">
                            <span style="text-align: right;">
                                <a href="{{url_for('admin_dashboard')}}" style="text-decoration: none; color: white;">Welcome Admin !!</a>
                            </span>
                            <!--Searching-->
                            <span class="d-flex" style="text-align: left;">
                                <form method="GET" action="{{url_for('admin_comp')}}" >
                                    <div class="input-group align-items-center" >
                                        <input class="py-0 " style="width: 150px; border-color: black;" type="text" name="q" placeholder="Search Company" >
                                        <div class="input-group-text p-0 me-4 bg-dark" style="border: none;">
                                            <button type="submit" class="input-group-text p-0 me-1 bg-dark" style="border: none;">
                                                🔍
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <a href="{{url_for('admin_dashboard')}}" class="btn btn-outline-light btn-sm">Home</a>
                                <a href="{{url_for('admin_students')}}" class="btn btn-outline-light btn-sm">Students</a>
                                <a href="{{url_for('admin_drives')}}" class="btn btn-outline-light btn-sm">Drives</a>
                                <a href="{{url_for('admin_applications')}}" class="btn btn-outline-light btn-sm">Job Applications</a>
                                <a href="{{url_for('logout')}}" class="btn btn-danger btn-sm">Logout</a>
                            </span>
                    </div>
                </nav>
    <div>
        <table class="table table-bordered w-100">
        <h4>Registered Companies</h4>
        <tr><th>Company Name</th><th>Action</th></tr>
        {%for com in com%}
        
        <tr>
            <td>{{com.company_name}}</td>
            {%if com.user.is_approved==True%}
            <td><a href="{{url_for('blacklist_user',user_id=com.user_id)}}" method="POST">Blacklist</a></td>
            {%else%}
            <td><a href="{{url_for('whitelist_user',user_id=com.user_id)}}" method="POST">Whitelist</a></td>
            {%endif%}
        </tr>
        {%endfor%}
        </table>
    </div>
    <br>
    <div>
        <table class="table table-bordered w-100">
        <h4>Company Applications</h4>
        <tr><th>Company Name</th><th colspan="2">Actions</th></tr>
        {%for com in com_apply%}
        <tr><td>{{com.company_name}}</td><td><a href="{{ url_for('approve_company', company_id=com.user_id) }}" class="btn btn-success">Accept</a></td><td><a href="{{url_for('reject_company',company_id=com.user_id)}}" class="btn btn-danger">Reject</a></td></tr>
        {%endfor%}
        </table>
    </div>


    {%endblock%}
</body>
</html>