<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Drives</title>
</head>
<body>
    {%extends "auth/base_form.html"%}
    {%block content%}
<nav class="navbar navbar-dark bg-dark px-3">
    <div class="d-flex align-items-center justify-content-between w-100 text-white">
        <span style="text-align: right;">
            Welcome Admin !!
        </span>
        <span style="text-align: left;">
            <a href="{{url_for('admin_comp')}}" class="btn btn-outline-light btn-sm">Companies</a>
            <a href="{{url_for('admin_students')}}" class="btn btn-outline-light btn-sm">Students</a>
            <a href="{{url_for('admin_dashboard')}}" class="btn btn-outline-light btn-sm">Home</a>
            <a href="{{url_for('admin_applications')}}" class="btn btn-outline-light btn-sm">Job Applications</a>
            <a href="{{url_for('logout')}}" class="btn btn-danger btn-sm">Logout</a>
        </span>
    </div>
</nav>
<div>
    <table class="table table-bordered w-100">
        <h4 style="color: green;">🟢 Currently Ongoing Drives</h4>
        <tr><th>Drive Name</th><th>Company Name</th><th>Job Title</th><th>Type</th><th>Applicants</th><th>Actions</th></tr>
                {%for a in active%}
        <tr>
            <td>{{a.drive_name}}</td>
            <td>{{a.company.company_name}}</td>
            <td>{{a.job_title}}</td>
            <td>{{a.job_type}}</td>
            <td>Setup later</td>
            <td>
                <a href="{{ url_for('close_drive', d_id=a.id) }}" class="btn btn-danger btn-sm">Close Drive</a>
            </td>

        </tr>
        {%endfor%}
        
    </table>
</div>
<br>
<div>
    <table class="table table-bordered w-100">
        <h4 style="color: grey;">⚫ Closed Drives</h4>
        <tr><th>Drive Name</th><th>Company Name</th><th>Job Title</th><th>Applicants</th><th>Actions</th></tr>
                {%for c in closed%}
        <tr>
            <td>{{c.drive_name}}</td>
            <td>{{c.company.company_name}}</td>
            <td>{{c.job_title}}</td>
            <td>{{c.job_type}}</td>
            <td>Setup later</td>
            <td>
                
            </td>

        </tr>
        {%endfor%}
        
    </table>
</div>
<br>
<div>
    <table class="table table-bordered w-100">
        <h4 style="color:goldenrod;">🟡 Pending Drives</h4>
        <tr><th>Drive Name</th><th>Company Name</th><th>Job Title</th><th>Job Type</th><th>Applicants</th><th>Actions</th></tr>
        {%for pen in pending%}
        <tr>
            <td>{{pen.drive_name}}</td>
            <td>{{pen.company.company_name}}</td>
            <td>{{pen.job_title}}</td>
            <td>{{pen.job_type}}</td>
            <td>Setup later</td>
            <td>
                <a href="{{url_for('approve_drive',d_id=pen.id)}}" method="POST" class="btn btn-success">Activate</a>
                <a href="{{url_for('reject_drive',d_id=pen.id)}}" method="POST" class="btn btn-danger">Reject</a>
            </td>

        </tr>
        {%endfor%}
        
    </table>
</div>

<div>
    <table class="table table-bordered w-100">
        <h4 style="color: red;">🔴 Rejected Drives</h4>
        <tr><th>Drive Name</th><th>Company Name</th><th>Job Title</th><th>Applicants</th><th>Actions</th></tr>
            {%for r in rejected%}
        <tr>
            <td>{{r.drive_name}}</td>
            <td>{{r.company.company_name}}</td>
            <td>{{r.job_title}}</td>
            <td>{{r.job_type}}</td>
            <td>Setup later</td>
            <td>
                
            </td>

        </tr>
        {%endfor%}
        
    </table>
</div>



    {%endblock%}
</body>
</html>