{% extends "auth/Base_form.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Company</title>
</head>
<body>
    <h2>Edit Info</h2>
<!--Navbar-->

<form class="row g-3" method="POST">
  <div class="col-md-6">
    <label for="company_name" class="form-label">Company Name</label>
    <input name="company_name"type="text" class="form-control" id="company_name" value="{{current_user.company_profiles.company_name}}" required>
  </div>
  <div class="col-12">
    <label for="hr_num" class="form-label">HR Contact</label>
    <input name="hr_num" type="text" class="form-control" id="hr_num" value="{{current_user.company_profiles.hr_number}}" placeholder="10 digit number" required>
  </div>
  <div class="col-md-6">
    <label for="basic-url" class="form-label">Company Website</label>
    <input name="website_url" type="text" class="form-control" id="basic-url" value="{{current_user.company_profiles.website_url}}" placeholder="www.company.com">
  </div>
  <div>
    <label for="description" class="form-label">Description</label>
    <textarea name="description" class="form-control" id="description" rows="3" required>{{current_user.company_profiles.description}}</textarea>
  </div>
  <div class="col-12">
    <button type="button" class="btn btn-secondary" onclick="window.history.back()">back</button>
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </div>
  <div>
  </div>
</form>
</body>
</html>

{% endblock %}